<!DOCTYPE html>

<html lang="pt-BR">

<header>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Faz a página ser responsiva em dispositivos móveis, ajustando a escala conforme o tamanho da tela. -->

<title>Alternar Tema</title>

<link rel="stylesheet" href="/style.css">
</header>
<body>
    <div class="container">
        <h1>Alternar Tema Claro e Escuro </h1>
        <button id="theme-toggle">Alternar Tema</button>
    </div>
    <script src="/script.js"></script>
</body>
</html>